spring:
  application:
    name: open-api

  datasource:
    url: jdbc:mysql://localhost:3306/userdatabase?createDatabaseIfNotExist=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: info
#    web: off - error - warn - info - debug - trace

server:
  port: 8080
